Source: vecl-utils
Section: devel
Priority: optional
Maintainer: Qi Yong <qiy@vecl.cn>
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 9.20120311)

Package: vecl-utils
Architecture: all
Description: vecl utils
 tellme ifreset
